on early-init

on init
    chmod 0660 /dev/boardconfig_fs
    chown system system /dev/boardconfig_fs

on early-fs

on fs

on post-fs

on post-fs-data

on early-boot

on boot
    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_charger
    chown system system /sys/class/hw_power/charger/charge_data/enable_charger
    chmod 0660 /sys/class/hw_power/charger/charge_data/calling_limit
    chown system system /sys/class/hw_power/charger/charge_data/calling_limit
    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_cd
    chown system system /sys/class/hw_power/charger/charge_data/enable_cd
    chmod 0660 /sys/class/hw_power/charger/charge_data/regulation_voltage
    chown system system /sys/class/hw_power/charger/charge_data/regulation_voltage
    chmod 0660 /sys/class/hw_power/charger/charge_data/temp_current_iin
    chown system system /sys/class/hw_power/charger/charge_data/temp_current_iin
    chmod 0660 /sys/class/hw_power/charger/charge_data/cin_limit
    chown system system /sys/class/hw_power/charger/charge_data/cin_limit
    chmod 0660 /sys/class/hw_power/charger/charge_data/temp_current_iin
    chown system system /sys/class/hw_power/charger/charge_data/temp_current_iin
    chmod 0660 /sys/class/hw_power/charger/charge_data/temp_current_ichg
    chown system system /sys/class/hw_power/charger/charge_data/temp_current_ichg

    chmod 0440 /sys/class/power_supply/Battery/present
    chown system system /sys/class/power_supply/Battery/present
    chmod 0440 /sys/class/power_supply/Battery/capacity_rm
    chown system system /sys/class/power_supply/Battery/capacity_rm
    chmod 0440 /sys/class/power_supply/Battery/capacity_fcc
    chown system system /sys/class/power_supply/Battery/capacity_fcc
    chmod 0440 /sys/class/power_supply/USB/online
    chown system system /sys/class/power_supply/USB/online
    chmod 0440 /sys/class/power_supply/Mains/online
    chown system system /sys/class/power_supply/Mains/online

    chmod 0660 /dev/hwlog_switch
    chown system system /dev/hwlog_switch
    chmod 0660 /dev/hwlog_tag
    chown system system /dev/hwlog_tag
    chown system system /data/log/modemConfig/SystemCmd.cmf
    chown system system /data/log/modemConfig/lte_ue_msg.cfg
    chown system system /data/log/modemConfig/viacbp82d_log.bcfg
    chown system system /data/log/modemConfig/viacbp82d_shutdown_log.bcfg
    mkdir /data/hwzd_logs
    chmod 0775 /data/hwzd_logs
    chown system system /data/hwzd_logs


on property:ro.runmode=factory
    start applogcat
    start rillogcat
    start kmsglogcat
    start sleeplogcat
    start chargelogcat


service applogcat /system/bin/logcat -v threadtime -r4096 -n 25 -f /data/android_logs/applogcat-log
    class late_start
    user root
    group system
    disabled

service rillogcat /system/bin/logcat -b radio -v threadtime -r4096 -n 25 -f /data/android_logs/rillogcat-log
    class late_start
    user root
    group system
    disabled

service kmsglogcat /sbin/kmsgcat -r 4096 -n 25 -f /data/android_logs/kmsgcat-log
    class late_start
    user root
    group system
    disabled

service sleeplogcat /system/bin/sleeplogcat -t 10 -p /data/android_logs/
    class late_start
    user root
    group system
    disabled

service chargelogcat /system/bin/chargelogcat -t 2 -p /data/android_logs/
    class late_start
    user root
    group system
    disabled

service kmsgcat_cp /sbin/kmsgcat -r 4096 -n 25 -i /dev/cshell_log -t 1 -f /data/hwzd_logs/cp_log/modemlog/modemkmsg-log
    class late_start
    user root
    group system
    disabled

service modemlogcat_GU /system/bin/modemlogcat_balong -r 20 -p /data/hwzd_logs/cp_log/
    class late_start
    user root
    group system
    disabled
    oneshot

service modemlogcat_TL /system/bin/modemlogcat_lte -r 20 -p /data/hwzd_logs/cp_log/
    class late_start
    user root
    group system
    disabled
    oneshot

service modemlogcat_VIA /system/bin/modemlogcat_via -t /dev/ttySPI1 -c /data/log/modemConfig/viacbp82d_log.bcfg -p /data/hwzd_logs/cp_log/ -r 30 -n 9
    class late_start
    user root
    group system
    disabled
    oneshot

service logserver /system/bin/logserver
    class main
    socket logservice stream 0660 system system
    oneshot

service hw_ueventd /system/bin/hw_ueventd
    class main
    user root
